[client]
host     = localhost
user     = marcos
password = socram123
socket   = /var/run/mysqld/mysqld.sock
[mysql_upgrade]
host     = localhost
user     = marcos
password = socram123
socket   = /var/run/mysqld/mysqld.sock
